{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">{{ title }}</h1>
    <form action="" method="post" novalidate class="card" style="width: 400px; padding: 3vmin; margin: auto;" enctype="multipart/form-data">
        <div>
            {{ form.hidden_tag() }}
        </div>
        {% if 'errors' %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% for field in form if field.name not in ['csrf_token', 'submit'] %}
            <div>
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div><br>
        {% endfor %}
        {{ form.submit() }}
        {% if additional_link %}
            <a class="alert-link" href="{{ additional_link.link }}">{{ additional_link.label }}</a>
        {% endif %}
    </form>
{% endblock %}