{% extends "base.html" %}

{% block content %}
    <div class="d-flex" style="justify-content: space-between; align-items: center; margin-top: 1rem">
        <div style="justify-self: center; flex-grow: 1">
            <h1 style="text-align: center">{{ restaurant.title }}</h1>
        </div>
        <div style="margin-bottom: 0; margin-right: 3rem">
            <a type="button" class="btn btn-primary position-relative" href="/order/{{ restaurant.id }}">
                Обратно в меню
            </a>
        </div>
    </div>
    <div class="card" style="margin-left: 10vmin; margin-right: 10vmin; margin-top: 2vmin; padding: 4rem">
        <div class="card-body">
            <h3 style="text-align: center">Ваш заказ</h3>
            {% for order_item in order.order_items %}
                <div class="card" style="padding: 1rem; margin-bottom: 0.5rem">
                    <div class="d-flex" style="justify-content: space-between">
                        <div class="d-flex" style="align-items: center">
                            <h4>{{ order_item.menu_item.title }}</h4>
                        </div>
                        <div class="d-flex" style="align-items: center">
                            <p style="align-items: center; margin: 0">
                                <input type="number" step="1" min="1" value="{{ order_item.count }}" required class="form-control" placeholder="Кол-во" name="count_{{ order_item.id }}" style="margin-right: 1vw; width:4rem" oninput="count_update(this);">
                                <h5 style="margin-right: 2vw; width:10rem">Цена: <span>{{ order_item.menu_item.price }}</span></h5>
                                <a type="button" class="btn btn-danger position-relative" href="/order/{{ restaurant.id }}/delete_item/{{ order_item.id }}">
                                    Удалить
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>
            <div class="d-flex" style="justify-content: space-between">
                <a type="button" class="btn btn-primary position-relative" href="/order/{{ restaurant.id }}/pay">
                    Оплата
                </a>
                <h3 style="margin-right: 12vw">Сумма: <span id="grand_total">{{ order.price }}</span></h3>
            </div>
        </div>
    </div>

    <script>
        function count_update(field) {
            let id = field.name.split('_')[field.name.split('_').length - 1];
            let count = field.value;
            if (count > 0) {
                console.log("field: " + field.value + ", name: " + count + ", id: " + id);

                var url = `${window.location.origin}/api/order/{{ order.id }}/${id}`
                let http = new XMLHttpRequest();
                http.open("PUT", url, true);
                http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                let send_data = `count=${count}`;
                http.send(send_data);

                var url = `${window.location.origin}/api/order/{{ order.id }}`
                fetch(url)
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(jsonResponse) {
                        document.getElementById('grand_total').textContent=jsonResponse['price'];
                    });

            }
        }
    </script>
{% endblock %}