{% extends "base.html" %}

{% block content %}
    {% if error %}
        <div style="margin-left: 10vmin; margin-right: 10vmin; margin-top: 1rem">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <div class="d-flex" style="justify-content: space-between; align-items: center; margin-top: 1rem">
        <div style="justify-self: center; flex-grow: 1">
            <h1 style="text-align: center">{{ restaurant.title }}</h1>
        </div>
        <div style="margin-bottom: 0; margin-right: 3rem">
            <a type="button" class="btn btn-primary position-relative" href="/order/{{ restaurant.id }}">
                Обратно в меню
            </a>
        </div>
    </div>
    <div class="card" style="margin-left: 10vmin; margin-right: 10vmin; margin-top: 2vmin; padding: 4rem">
        <div class="card-body">
            <h2>Организация</h2>
            <select class="form-select" aria-label="Organisation select" style="width: 15rem" onchange="restaurantPlaceUpdate(this);">
                {% for place in order.restaurant.places %}
                    <option value="{{ place.id }}"{% if place.id == order.restaurant_place_id %} selected{% endif %}>{{ place.title }}</option>
                {% endfor %}
            </select><hr>
            <h3 style="text-align: center">Ваш заказ</h3>
            {% for order_item in order_items %}
                <div class="card" style="padding: 1rem; margin-bottom: 0.5rem">
                    <div class="d-flex" style="justify-content: space-between">
                        <div class="d-flex" style="align-items: center">
                            <h4>{{ order_item.menu_item.title }}</h4>
                        </div>
                        <div class="d-flex" style="align-items: center">
                            <p style="align-items: center; margin: 0">
                                <input type="number" step="1" min="1" value="{{ order_item.count }}" required class="form-control" placeholder="Кол-во" name="count_{{ order_item.id }}" style="margin-right: 1vw; width:4rem" oninput="countUpdate(this);">
                                <h5 style="margin-right: 2vw; width:10rem">Цена: <span>{{ order_item.menu_item.price }}</span></h5>
                                <a type="button" class="btn btn-danger position-relative" href="/order/{{ restaurant.id }}/delete_item/{{ order_item.id }}">
                                    Удалить
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>
            <div class="d-flex" style="justify-content: space-between">
                {% if available_to_send %}
                    <form method="post" action="/order/{{ order.id }}/set_state" enctype="multipart/form-data">
                        <input type="hidden" name="new_state" id="new_state" value="Awaiting payment">
                        <input type="hidden" name="back_redir_to" id="back_redir_to" value="{% if restaurant.redirect_after_send_order %}{{ restaurant.redirect_after_send_order }}{% else %}{{ url_for('order.orders_show', restaurant_id=restaurant.id) }}{% endif %}">
                        <input type="submit" id="submit" name="submit" class="btn btn-primary" value="Оплата">
                    </form>
                {% else %}
                    <input type="submit" id="submit" name="submit" class="btn btn-primary" disabled value="Оплата">
                {% endif %}
                <h3 style="margin-right: 12vw">Сумма: <span id="grand_total">{{ order.price }}</span></h3>
            </div>
        </div>
    </div>

    <script>
        function restaurantPlaceUpdate(field) {
            let id = field.value;
            console.log("RESTAURANT PLACE UPDATE: id: " + id);

            var url = `${window.location.origin}/api/order/{{ order.id }}`
            let http = new XMLHttpRequest();
            http.open("PUT", url, true);
            http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            let send_data = `restaurant_place_id=${id}`;
            http.send(send_data);
        }

        function countUpdate(field) {
            let id = field.name.split('_')[field.name.split('_').length - 1];
            let count = field.value;
            if (count > 0) {
                console.log("COUNT UPDATE: field: " + field.value + ", name: " + count + ", id: " + id);

                var url = `${window.location.origin}/api/order/{{ order.id }}/${id}`;
                let http = new XMLHttpRequest();
                http.open("PUT", url, true);
                http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                let send_data = `count=${count}`;
                http.send(send_data);

                var url = `${window.location.origin}/api/order/{{ order.id }}`;
                setTimeout(() => {
                    fetch(url)
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (jsonResponse) {
                            document.getElementById('grand_total').textContent = jsonResponse['price'];
                        })
                }, 150);
            }
        }
    </script>
{% endblock %}