{% extends "base.html" %}

{% block content %}
    <div style="margin: 10vmin;">
        <div class="btn-group d-flex" style="justify-content: center" role="group">
            {% for setting_name in setting_names.keys() %}
                {% if setting_name == current_setting %}
                    <a href="/settings/{{ setting_name }}" class="btn btn-primary active" aria-current="page">{{ setting_names[setting_name] }}</a>
                {% else %}
                    <a href="/settings/{{ setting_name }}" class="btn btn-primary">{{ setting_names[setting_name] }}</a>
                {% endif %}
            {% endfor %}
        </div><br><br>
        <div class="card">
            <div class="card-body">
                {% for html_markup in settings[current_setting] %}
                    {{ html_markup|safe }}<hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}