{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center">Заказы пользователя {{ current_user.name }} {{ current_user.surname }}</h1>
    <div class="d-flex" style="justify-content: space-between; flex-wrap: wrap;">
        {% for order in orders %}
            <div class="card" id="{{ order.id }}" style="margin: 3rem; width: 40rem; padding: 1rem;">
                <div class="d-flex" style="justify-content: space-between">
                    <h2>{{ order.restaurant.title }}</h2><span class="badge rounded-pill bg-primary" style="width: 10rem; margin: 0; padding: 0.2rem; height: min-content" id="order_{{ order.id }}_state">{{ order_states_translate[order.state] }}</span>
                </div><br>
                <h6>{{ order.id }}</h6><hr>
                {% for order_item in order.order_items %}
                    <div class="card" style="padding: 0.2rem; margin: 0.1rem;">
                        <div class="d-flex" style="justify-content: space-between; align-items: center">
                            <h5>Название: {{ order_item.menu_item.title }}</h5> <h5>Кол-во: {{ order_item.count }}</h5>
                        </div>
                    </div>
                {% endfor %}<hr>
                <h2>{{ order.price }}руб.</h2><br>
            </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var socket = io.connect(window.location.origin)

            socket.on('connect', function () {
                socket.emit("user_connect");
            })

            socket.on('order_change', function (msg) {
                let url = `${window.location.origin}/api/order/${msg['order_id']}`
                fetch(url)
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(jsonResponse) {
                        let order = jsonResponse;
                        if (document.getElementById(`order_${order.id}_state`)) {
                            let field = document.getElementById(`order_${order.id}_state`);
                            {% for key, val in order_states_translate.items() %}
                                if (order.state === '{{ key }}') {
                                    field.textContent = '{{ val }}';
                                }
                            {% endfor %}
                        }
                    })
            })
        })
    </script>
{% endblock %}