{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">Регистрация пользователя</h1>
    <form action="" method="post" novalidate class="card" style="width: 20vw; padding: 3vmin; margin: auto;">
        <div>
            {{ form.hidden_tag() }}
        </div>
        {% for field in form if field.name not in ['csrf_token', 'submit'] %}
            <div>
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div><br>
        {% endfor %}
        {{ form.submit() }}
    </form>
{% endblock %}